/* font-family: 'Montserrat', sans-serif; */
@font-face {
  font-family: 'Kollektif';
  src: url('/font/kollektif.woff2') format('woff2-variations');
  src: url('/font/kollektif.woff2') format('woff2') tech('variations');
  font-weight: 400;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #2D2D2D;
}


.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.title span {
  color: #FF6600;
}



.container {
  max-width: 1800px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  color: #fff;
  background: #2D2D2D;
  height: 82px;
  border-radius: 0 0 40px 40px;
}



.header_container {
  max-width: 1920px;
  padding: 6px 0;
  margin-left: 70px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.menu_spisok {
  display: flex;
  gap: 60px;
}

.contact {
  display: flex;
  gap: 12px;
  align-items: center;
}

.menu_item {
  transition: all .5s;
}

.menu_item:hover {
  color: #C0C0C0
}

.menu_item:active {
  color: #FF6600;
}

.menu_item:disabled {
  color: #3F3F3F
}

.btn {
  font-family: 'kollektif', sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #FF6600;
  border-radius: 20px;
  padding: 21px 0;
  display: block;
  width: 100%;
  transition: all .5s;
}

.btn:hover {
  background-color: #FF9832;
}

.btn:active {
  background-color: #CD3400;
}

.btn:disabled {
  background-color: #C0C0C0;
}

.about {
  background-color: #F6F6F6;
  border-radius: 0 0 40px 40px;
  padding-top: 60px;
}

.about_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}


.about_foto {
  padding-right: 40px;
  display: block;
  width: 100%;

}

.about_pictures {
  position: relative;
}

.about_pictures {
  position: relative;
  overflow: hidden;
}




.about_content_text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about_title {
  font-size: 80px;
  line-height: 80px;
  color: #2D2D2D;
  max-width: 800px;
}


.about_content_predl {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 32px;
  line-height: 39px;
}

.about_content_predl_text {
  max-width: 520px;
}

.about_spisok {
  margin-top: 60px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.about_item {
  max-width: 280px;
  padding: 32px 14px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  background-color: #fff;
  border-radius: 30px 30px 0 0;
  color: #808080;
}

.work {
  margin-top: 120px;
}

.work_spisok {
  list-style: none;
  padding-left: 0;
}

.work_item {
  background-color: #F6F6F6;
  border-radius: 40px;
  padding: 80px 150px;
  position: relative;
  height: 628px;
}



.work_title {
  text-align: center;
  font-size: 48px;
  line-height: 52px;
  color: #2D2D2D;
}

.work_item_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  margin-top: 60px;
}

.work_item_title {
  color: #2D2D2D;
  font-size: 48px;
  line-height: 52px;
}

.work_num {
  display: flex;
  gap: 40px;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2D2D2D;
  font-size: 80px;
  line-height: 80px;
  margin-bottom: 30px;

}

.work_item_header {
  max-width: 716px;
}

.work_item_text {
  max-width: 730px;
}

/* нумерация внутри списка */
.work_item_text:has(p:nth-child(2)) {
  counter-reset: step-counter;
}

.work_item_text:has(p:nth-child(2)) p {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  counter-increment: step-counter;
  color: inherit;
}

/* Стили для цифры */
.work_item_text:has(p:nth-child(2)) p::before {
  content: counter(step-counter) ".";
  position: absolute;
  left: 0;
  top: 0;
  color: inherit;
}

/* точки у slick */

.work_spisok .slick-dots {
  display: flex;
  justify-content: center;
  gap: 16px;
  bottom: 50px;
  margin-top: -72px;
  position: relative;

}

.work_spisok .slick-dots button {
  color: transparent;
  border-radius: 50%;
  background-color: #DBDBDB;
  transition: all .5s;
  width: 30px;
  height: 30px;
}



.work_spisok .slick-dots button:hover {
  background-color: #C0C0C0
}

.work_spisok .slick-dots button:active,
.work_spisok .slick-dots .slick-active button {
  background-color: #FF6600;
}

.work_spisok .slick-dots button:disabled {
  background-color: #3F3F3F
}

.questions {
  margin-top: 120px;
}

.questions_title {
  font-size: 48px;
  line-height: 52px;
  text-align: center;
}

.questions_inner {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.questions_img {
  width: 100%;
  height: auto;
  max-height: 580px;
  object-fit: cover;
}




.questions_quet {
  background-color: #F6F6F6;
  display: flex;
  padding: 40px;
  align-items: center;
  gap: 60px;
  justify-content: space-between;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: all .5s;
  cursor: pointer;
}

.questions_quet .questions_quet_img {
  min-width: 40px;
  min-height: 40px;
}

.questions_quet .questions_quet_img path {
  transition: all .5s;
}


.questions_quet:hover {

  border: 3px solid #FF6600;

}

.questions_item active .questions_quet{

  border: 3px solid gray;

}

.questions_quet:hover .questions_quet_img path {
  stroke: #FF6600;
}


.questions_otvet {
  background-color: #F6F6F6;
  padding: 0 40px;
  margin: 10px 0;
  max-height: 0;
  border-radius: 40px;
  overflow: hidden;
  transition: max-height 1s, padding 1s
}



.questions_item.active .questions_otvet {
  max-height: 10000px;
  padding: 40px;
}

.footer {
  background-color: #2d2d2d;
  border-radius: 40px 40px 0 0;
  color: #fff;
  padding: 80px 0;
}

.footer_text {
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  margin-bottom: 20px;
}

.footer_text_2 {
  text-align: center;
}

.carta {
  margin-top: 40px;
  color: #808080;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  gap: 2px;
}

.carta_item {
  padding-right: 8px;
  border-right: 1px solid #808080;
}

.carta_item:last-child {
  border-right: none;
  padding-right: 0px;
}

.menu_btn {
  display: none;
}


@media (max-width: 1450px) {
  .questions_img {
    max-height: 300px;
  }

  .header {
    height: auto;
  }

  .header_container {
    padding-bottom: 15px;
    flex-wrap: wrap;
    margin-left: 30px;
    justify-content: center;
    gap: 30px;
  }

  .menu_spisok {
    flex-wrap: wrap;
    gap: 20px 60px;
    justify-content: center;
  }

  .about_spisok {
    flex-wrap: wrap;
    justify-content: center;
  }

  .work_item {
    height: 750px;
  }

  .carta {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px 2px;
  }

}

@media (max-width: 1100px) {

  .work_item {
    height: auto;
  }

  .work_item_content {
    flex-direction: column;
  }

  .work_spisok .slick-dots {
    bottom: -40px;
  }

  .work_item {
    padding: 40px 20px;
  }


}

@media (max-width: 998px) {
  .about_content {
    flex-direction: column;
  }

  .about_foto {
    width: 300px;
  }

  .questions_inner {
    flex-direction: column-reverse;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }

  .header {
    position: relative;
  }

  .head_active {
    max-height: 1000px;
  }

  .header_container {
    flex-direction: column;
    margin: 10px;
    gap: 0px;
  }

  .contact img {

    width: 20px;
  }

  .btn {
    padding: 10px 0;
  }

  .menu_btn {
    display: block;
    margin-bottom: 20px;
  }

  .menu_btn span {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
  }

  .menubtn_active {
    display: inline-block;
    transform: rotate(180deg);
  }

  .menu_spisok {
    position: absolute;
    top: -200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    /* Автоматические отступы для центрирования */
    padding: 20px;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #FF9832;
    z-index: 100;
    /* Ширина относительно родителя */
    width: 300px;

    transition: top 0.3s ease;
  }

  .menu_spisok_active {
    top: -10px;
    position: relative;
  }

  .about {
    padding-top: 30px;
  }

  .about_title {
    font-size: 32px;
    line-height: 40px;
  }

  .about_content_predl {
    font-size: 20px;
    line-height: 24px;
  }

  .about_content_predl_img {
    width: 36px;
  }

  .about_foto {
    padding-right: 0px;

  }

  .about_spisok {
    gap: 10px;
    flex-direction: column;
  }

  .about_item {
    max-width: 100%;
    padding: 16px 8px;
    font-size: 14px;
    line-height: 20px;
  }

  .work {
    margin-top: 60px;
  }

  .work_num {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  .work_title {
    font-size: 32px;
    line-height: 40px;
  }

  .work_item_content {
    gap: 30px;
  }

  .work_item_img {
    width: 30px;
  }

  .work_item_title {
    font-size: 24px;
    line-height: 28px;
  }

  .work_spisok .slick-dots {
    gap: 8px;
  }

  .work_spisok .slick-dots button {
    width: 15px;
    height: 15px;
  }

  .questions {
    margin-top: 60px;
  }

  .questions_quet .questions_quet_img {
    max-width: 20px;
    max-height: 20px;
  }

  .questions_quet {
    padding: 20px;
  }

  .questions_otvet {
    padding: 0 20px;
    margin: 5px 0;
  }

  .questions_item.active .questions_otvet {
    padding: 20px;
  }

  .footer {
    padding: 40px 0;
  }

  .footer_text {
    font-size: 24px;
    line-height: 28px;
  }

  .carta {
    margin-top: 20px;
    font-size: 16px;
    line-height: 18px;
  }
}
